.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 15px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 14px !important;
}

.Toastify__toast-theme--light{
  font-size: 14px !important;
}

.register-page input  {
  text-transform: unset !important;
}